.top-2 {
  top: .5rem;
}
.top-3 {
  top: .75rem;
}
.top-4 {
top: 1rem;
}
.top-16{
  top: 4rem;
}
.bottom-4 {
  bottom: 1rem;
}
.right-3 {
  right: .75rem;
}
.right-4 {
  right: 1rem;
}
.left-1 {
  left: .25rem;
}
.left-2 {
  left: .5rem;
}
.max-w-40 {
  max-width: 10rem;
}
.text-grupo-gray {
  color: #3d4449;
}
.text-grupo-red {
  color: #f56a6a;
}
.bg-grupo-red {
  background-color: #f56a6a
}
.bg-green-whats {
  background-color: #25d366;
}
.border-grupo-red {
  border-color: #f56a6a;
}
.w-1\/8 {
  width: 12.5%;
}
.w-9\/5 {
  width: 180%;
}
@media (min-width: 768px) {
  .md\:mr-4 {
     margin-right: 1rem;
  }
  .md\:top-4{
    top: 1rem;
  }
  .md\:top-16{
    top: 4rem;
  }
  .md\:bottom-1\/6{
    bottom: 16.6666667%;
  }
  .md\:right-12{
    right: 3rem;
  }
  .md\:w-9\/5 {
    width: 180% !important;
  }
}